body {
  font-family: "Lato", sans-serif;
}

.sidenav {
  display: none;
  height: 100%;
  width: 250px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  padding-top: 60px;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px;
  }
  .sidenav a {
    font-size: 18px;
  }
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

nav ul li {
  float: left;
}

nav ul li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

nav ul li a:hover {
  background-color: #111;
}

body {
  text-align: center;
}

div.grid {
  margin-bottom: 160px;
  display: grid;
  grid-template-columns: 150px auto 150px;
  grid-template-rows: repeat(3, 100px);
  grid-gap: 1em;
}

header, aside, article, footer {
  background: #ccc;
  padding: 1em;
}

header {
  grid-row: 1;
  grid-column: 1 / 4;
}

.sidebar-left {
  grid-row: 2;
  grid-column: 1 / 2;
}

article {
  grid-row: 2;
  grid-column: 2 / 3;
}

.sidebar-right {
  grid-row: 2;
  grid-column: 3 / 4;
}

footer {
  grid-row: 3;
  grid-column: 1 / 4;
}
h1 {
  color: white;
}

p {
  color: white;
}

span {
  color: white;
}

ol {
  color: white;
}

h2 {
  color: white;
}
article { 
  color: rgb(2,0,36);
background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 0%, rgba(0,212,255,1) 100%);
  }
  header {
    color: rgb(2,0,36);
background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 0%, rgba(0,212,255,1) 100%);
  }